{% extends 'base.html' %}
{% block title %}Connexion{% endblock %}
{% block content %}
<div class="card">
  <h3>Se connecter</h3>
  <form method="post">
    <label>Nom</label>
    <input type="text" name="nom" required>
    <label>Prénom</label>
    <input type="text" name="prenom" required>
    <label>Mot de passe</label>
    <input type="password" name="mot_de_passe" required>
    <button class="btn" type="submit">Connexion</button>
  </form>
  <p>Pas de compte ? <a href="{{ url_for('register') }}">Créer un compte</a></p>
</div>
{% endblock %}


